.hand {
    background-image: url('../../images/bgc__grey.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 800px;
}

.hand__cream {
    background-image: url('../../images/bgc__cream.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1065px;
    height: 688px;
}