.industry {
    background-image: url('../../images/bgc__crimson.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    height: 800px;
}

.industry__flashlight {
    background-image: url('../../images/bgc__flashlight.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1065px;
    height: 688px;
}